@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 500;
}

.header {
    padding: 0.9375em;
    text-align: center;
    background: #1d0f18;
    font-family: "Roboto";
    color: white;
    overflow: hidden;
}

.header img {
    overflow: hidden;
}



.sidepanel {
    
    bottom: 0;
    height: 0;
    width: 100%;
    visibility: hidden;
    position: fixed;
   
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75em;
    overflow: hidden;
}

.sidepanel a {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1.5625em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}


#openbtn {
    
    bottom: 0;
    position: fixed;
    font-size: 1.25em;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0.625em 0.9375em;
    border: none;
    visibility: visible;
    width: 100%;
}

#openbtn:hover {
    background-color: #444;
}

#closebtn {
    
    bottom: 0;
    position: fixed;
    font-size: 1.25em;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0.625em 0.9375em;
    border: none;
    visibility: hidden;
    width: 100%;
}

#closebtn:hover {
    background-color: #444;
}

@media (min-width: 43.75em) {

    .sidepanel {
        display: none;
    }
}
