#pictures {
    display: inline;
  }

.pic-gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }

  