* {
    box-sizing: border-box;
}

body img {
  max-width: 1024px;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;
}

body {
    margin: 0;
    background-color: rgb(131, 133, 129);
    background-image: url("/img/parallax6.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  body img {
    max-width: 1024px;
}

.row-top {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    margin: 2px;
}

.side-top {
    flex: 30%;
}

.ancotra {
    padding: 10px;
    margin: 2px 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.ancotra span {
    color: #ff6251;
}

/*--------------*/

.main-top {
    flex: 70%;
    float: right;
    
}

.openbtn {
    float: right;
    right: 10px;
    padding: 10px;
    margin: 15px 10px;

}

.openbtn span {
        width: 12px;
        height: 12px;
        border: 1px solid #ff6251;
        margin: 2px;
}

.openbtn a {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    color: #ff6251;
    
}


  /* When the height of the screen is less than 600 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 600px) {

    body {
      background-image: url("/img/futura-front.jpg");
      background-size: cover;
      margin-bottom: 3em;
      font-family: "Roboto-Thin";
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
    
     }

     body img {
      height: 100%;
  }

  }
  