* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Lora";
    src: url("fonts/Lora/static/Lora-Regular.ttf");
    font-weight: 500;
}


/* Style the body */
body {
    margin: 0;
    color: white;
}

/* Header/logo Title */
.header {
    padding: 0.9375em;
    text-align: center;
    background: #1d0f18;
    font-family: "Lora";
    color: white;
    overflow: hidden;
    /*background-image: url("/img/VDL.jpg");
    background-repeat: no-repeat;*/
}

.header img {
    width: 62.5em;
    height: 20em;
    padding: 0.625em;
}

/* Style the top navigation bar */
#navbar {
    display: flex;
    background-color:#6b3940;
    border: 2px solid #fbf8fb;
}

/* Style the navigation bar links */
#navbar a {
    color: white;
    padding: 0.625em 2em;
    text-decoration: none;
    text-align: center;
    font-family: "Lora";
    margin: 8px;
    display: flex;
    border: 1px solid rgb(92, 90, 90);
    box-shadow: 3px 3px 10px #2b1721;
    background-color: #2b1721;
    border-radius: 8px;
}

/* Change color on hover */
#navbar a:hover {
    background-color: #6b3940;
    color: white;
    }

.navbar-text {
    float: right;
    text-align: right;
    padding: 0.625em 0.625em;
    margin: 8px 8px 8px auto;
    border: 4px solid #ff2800;
    box-shadow: 3px 3px 10px #2b1721;
    background-color: #593f42;
    border-radius: 10px;
}

.navbar-text h3 {
    margin: 0;
    color: white;
    font-family: "Lora";
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #6b3940;
    padding: 1.25em;
}

/* Main column */
.main {
    flex: 70%;
    background-color: #2b1721;
    padding: 1.25em;
}

.main p {
    text-align: justify;
}

/* Fake image, just for this example */
.fakeimg-two {
    background-color:none;
    width: 100%;
    padding: 0.3125em;
    overflow: hidden;
}

.fakeimg-two img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}

.fakeimg-three {
    background-color:none;
    width: 100%;
    padding: 0.3125em;
    overflow: hidden;
}

.fakeimg-three img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}



/* Footer */
#contact {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer-side {
    flex: 30%;
    background-color: #2b1721;
    padding: 1.25em;
}

.footer-main {
    flex: 70%;
    background-color: #6b3940;
    padding: 1.25em;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 43.75em) {

    .row, #contact
     {
        flex-direction: column;
    }
    #navbar {
        display: none;
    }

    .header img {
        display: none;
    }

    body {
        margin-bottom: 3em;
    }

    .side, .main, #contact {
        width: 100%;
}