* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 500;
}

/* Style the body */
body {
    margin: 0;
    color: white;
    font-family: "Roboto";
    background-image: url("/img/parallax6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body img {
    max-width: 1024px;
}

.row-top {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    margin: 2px;
}

.side-top {
    flex: 30%;
    
}

.ancotra {
    padding: 10px;
    margin: 2px 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.ancotra span {
    color: #ff6251;
}

/*--------------*/

.main-top {
    flex: 70%;
    float: right;
    
    
}

.openbtn {
    float: right;
    right: 10px;
    padding: 10px;
    margin: 15px 10px;
    
}

.openbtn span {
        width: 12px;
        height: 12px;
        border: 1px solid #ff6251;
        margin: 2px;
}

.openbtn a {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    color: #ff6251;
    
}

/* Column container */
.row-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 4.4em;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-content {
    flex: 40%;
}

.side-left-one {
    width: 98%;
    background-color:rgba(255, 255, 255, 0.5);
    margin-left: 1%;
    margin-right: 1%;
}

/* Main column */
.main-content {
    flex: 60%;
}

.main-right-one {
    width: 98%;
    background-color:rgba(255, 255, 255, 0.5);
    margin-right: 1%;
    margin-left: 1%;
}

/* Fake image, just for this example */

.fakeimg-one {
    background-color:none;
    width: 100%;
    padding: 0.3125em;
    overflow: hidden;
}

.fakeimg-one img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 85%;
}


.fakeimg-two {
    background-color:none;
    width: 100%;
    padding: 0.3125em;
    overflow: hidden;
}

.fakeimg-two img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 85%;
}

.fakeimg-three {
    background-color:none;
    width: 100%;
    padding: 0.3125em;
    overflow: hidden;
}

.fakeimg-three img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 85%;
}

  
  /* When the height of the screen is less than 768 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 768px) {

    body {
      background-image: url("/img/futura-front.jpg");
      background-size: cover;
      margin-bottom: 3em;
      font-family: "Roboto-Thin";
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    
     }
  
  body img {
    max-height: 768px;
}
  .row-content
{
       flex-direction: column;
   }

   .side-content, .main-content {
       width: 100%;
}


  }