#contact {
    display: inline;
    
  }

.contact-item {
    margin: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    width: auto;
    height: auto;
    background-color: rgb(33, 34, 34);
   
    
}

.item1 {
   
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
    height: 400px;
    color: bisque;
}

.item2 {
   
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
    height: 400px;
    color: bisque;
}

#googleMap {
    
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: auto;
    height: 400px;
    
}

@media screen and (max-width: 600px) {

    .item1, .item2, #googleMap
    {
        float: none;
    }
}