
body {
    background-color: rgb(160, 159, 157);
}

.row-top {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    /*background-color:rgba(0, 0, 0, 0.6);*/
    background-color:rgba(138, 4, 4, 0.6);
    margin: 2px;
    z-index: 6;
}

.side-top {
    flex: 30%;
}

.ancotra {
    padding: 10px;
    margin: 2px 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.ancotra span {
    color: #ff6251;
}

/*--------------*/

.main-top {
    flex: 70%;
    float: right;
    
}

.openbtn {
    float: right;
    right: 10px;
    padding: 10px;
    margin: 15px 10px;

}

.openbtn span {
        width: 12px;
        height: 12px;
        border: 1px solid #ff6251;
        margin: 2px;
}

.openbtn a {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    color: #ff6251;
    
}
